:root {
	--accent-color: #eb8307;
	--light-text: #eee;
	--dark-card-bg: #242424;
	--gray-bg-color: #363636;
	--body-bgc: #111;
}

.advanced-search {	
	.wrapper {
		background-color: var(--gray-bg-color);
		width: 100%;
		display: flex;
		gap: 1rem;
		align-items: stretch;
		border-radius: 20px;

		.title {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			background-color: var(--dark-card-bg);
			padding: 2rem;
			border-radius: 20px 0 25% 20px;

			img {
				width: 75%;
			}

			h3 {
				font-size: 1.5rem;
				color: var(--accent-color);
				text-align: center;
			}
		}

		.filters {
			flex: 5;
			padding: 1rem;
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;

			.country, .language, .genres, .sort, .adult {
				span {
					font-size: 1.25rem;
				}
				select {
					background-color: transparent;
					padding: 4px;
					border: 2px solid var(--accent-color);
					outline: none;
					border-radius: 12px;
					font-size: 1rem;
					color: var(--light-text);

					option {
						background-color: var(--gray-bg-color);
					}
				}
			}

			.score, .year, .time {
				font-size: 1.25rem;
				input {
					border: none;
					outline: none;
				}
				input::-webkit-slider-runnable-track {
					background: var(--dark-card-bg);
					border-radius: 10px;
					padding: 3px;
				}
				input::-webkit-slider-thumb {
					background: var(--accent-color) !important;
					cursor: ew-resize;
					-webkit-appearance: none;
				}
			}

			.votes, .keyword, .artist {
				label {
					font-size: 1.25rem;
				}
				input {
					border: 2px solid var(--accent-color);
					outline: none;
					background-color: transparent;
					color: var(--light-text);
					border-radius: 12px;
					padding: 8px 16px;
					font-size: 1rem;
				}
			}

			.year {
				min-width: 350px;
				input {
					width: 80%;
				}
			}

			.search-btn {
				width: 150px;
				height: 50px;
				margin-left: auto;
				border-radius: 12px;
				background-color: transparent;
				font-size: 1.25rem;
				color: var(--accent-color);
				border: 2px solid var(--accent-color);
				cursor: pointer;
				transition: all 0.1s;
				text-decoration: none;
				display: grid;
				place-items: center;

				&:hover {
					background-color: var(--accent-color);
					color: var(--light-text);
				}
				&:active {
					transform: translateY(3px);
				}
			}

			.flex-items-center {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
	}
}